/* Global */

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1em;
	color: #100f0f;
	background-color:#ffffff;
}
img {
	max-width: 100%;
}
a:link {
	color: #f68f67;
	text-decoration: none;
}
a:hover {
	color: #bde2df;
	text-decoration: none;
}
a:visited {
	color: #f68f67;
	text-decoration: none;
}



/* General Slides */ 

.slide{
	background-attachment: fixed;
	width:100%;
	height:auto;
	position: relative;
	padding:200px 0;
	background-image:url('../images/ricepaper_v3.png');
	background-repeat: repeat;
}



/* Slide 1 */ 

#slide1{
	background-color:#000;
	background-image:none;

}
#slide1 h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	line-height: 0px;
	color:#FFFFFF;
	font-weight: 700;
}
#slide1 h2 {
	font-size: 2em;
	color: #FFFFFF;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}
#slide1 h3{
	color:#f81d0a;
}




.transition{
	background-repeat: no-repeat;
	background-color: #000;
	background-size: cover;
	

}

#transition1{
	background-image:url('../images/lavaflow.jpg');
}

#transition2{
	background-image:url('../images/Miocene_l_16.jpg');
}

#transition3{
	background-image:url('../images/Miocene-na.jpg');
}

#transition4{
	background-image:url('../images/USA_ne_creighton_ashfallshp2.jpg');
}

#transition5{
	background-image:url('../images/clocks.jpg');
}

#transition6{
	background-image:url('../images/Morton_Arboretum_grassland.jpg');
}

#transition7{
	background-image:url('../images/arg6line.jpg');
}

#transition8{
	background-image:url('../images/Ashfall_Fossil_Beds_-_Hubbard_Rhino_Barn_1.JPG');
}

#transition9{
	background-image:url('../images/Ashfall_Fossil_Beds_-_Hubbard_Rhino_Barn_3.JPG');
}

#transition10{
	background-image:url('../images/binary.jpg');
}



#slideshow { 
    margin: 50px auto; 
    position: relative; 
    width: 240px; 
    height: 240px; 
    padding: 10px;  
}

#slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}

#slideshow2 { 
    margin: 50px auto; 
    position: relative; 
    width: 500px; 
    height: 500px; 
    padding: 10px;  
}

#slideshow2 > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}

#block{
	height:fill;
	width:fill;
}

#block2{
	height:600px;
	width:600px;
}






































/* Tablet */
@media screen and (max-width: 1024px) {

#logo {
	width: 100%;
	text-align: center;
}

#nav {
	width:100%;
	text-align:center;
	margin:10px 0;
}

.navigation{
	width: 100%;
	float: center;
	list-style: none;
	margin: 0;
	padding:0;
}

.navigation li{
	float: left;
	width:25%;
	padding:0;
}

.slide{
	background-attachment: fixed;
	width:100%;
	position: relative;
	padding:150px 0;
}

#decorative {
	display:none;
}

#content {
	text-align:center;
	width:100%;
}

#slide1 h1 {
	line-height: 1em;
}
#slide1 h2 {
	line-height: 1em;
}
#slide2 h1 {
	line-height: 1em;
}
#slide2 h2 {
	line-height: 1em;
}
#slide3 h1 {
	line-height: 1em;
}
#slide3 h2 {
	line-height: 1em;
}
#slide4 h1 {
	line-height: 1em;
}
#slide4 h2 {
	line-height: 1em;
}

}




/* Mobile */
@media screen and (max-width: 480px) {

#logo {
	width: 100%;
	text-align: center;
}

#nav {
	width:100%;
	margin:5px 0;
}

.navigation{
	width: 100%;
	float: left;
	list-style: none;
	margin: 0;
	padding:0;
}

.navigation li{
	float: left;
	width:25%;
}

.slide{
	background-attachment: fixed;
	width:100%;
	position: relative;
	padding:150px 0;
}


#slide1 h1 {
	line-height: 1em;
}
#slide1 h2 {
	line-height: 1em;
}
#slide2 h1 {
	line-height: 1em;
}
#slide2 h2 {
	line-height: 1em;
}
#slide3 h1 {
	line-height: 1em;
}
#slide3 h2 {
	line-height: 1em;
}
#slide4 h1 {
	line-height: 1em;
}
#slide4 h2 {
	line-height: 1em;
}


}




